.App {
  text-align: center;
  display: block;
  font-family: "Raleway", sans-serif;
}

.Colors {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.generate {
  margin-top: 150px;
}

.color-picker {
  cursor: pointer;
}
